* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
}
.bg {
  font-family: "Montserrat", sans-serif;
  width: 1200px;
  height: 1319px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main {
  width: 370px;
  height: 1319px;
  background-color: #1e2939;
  opacity: 1;
}
.img {
  padding-top: 40px;
  width: 370px;
  height: 354px;
  object-fit: cover;
}
.main-tittle {
  padding-top: 51px;
  padding-left: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.main-icons {
  font-weight: 700;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  padding-left: 40px;
}
.contacs {
  padding-left: 4px;
  opacity: 0.5;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.42px;
}
.main-icons a:hover {
  opacity: 1;
}

.mail {
  padding-left: 10px;
  opacity: 0.5;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.main-info li {
  list-style-type: none;
}
.main-info li::before {
  color: #ff6b08;
  content: "\2022";
  font-size: 18px;
  font-weight: 900;
  padding-right: 10px;
  padding-left: 41px;
}
.main-info {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.about {
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  font-family: Montserrat;
}
h2 {
  font-size: 14px;
  font-weight: 700;
}
h1 {
  padding-top: 10px;
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #595959;
}
.me {
  margin-top: 20px;
  /* width: 510px; */
}
h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.pro {
  margin-top: 64px;
}
.list {
  /* width: 487px; */
  height: 63px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #595959;
}
.url {
  text-decoration: underline dotted #595959;
}
.list-text:hover {
  color: #000000;
}
.list li {
  display: flex;
  justify-content: space-between;
}
.list span:nth-child(3) {
  flex: 1 0;
  border-bottom: 1.35px dotted;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: -5px;
  color: #595959;
}
.list span:nth-child(1) {
  margin-right: 4px;
}
.skills {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 40px;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin-top: 20px;
}
h5 {
  margin-top: 5px;
}
.orange {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
}
.time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}
.work {
  /* width: 535px; */
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 5px;
  margin-left: 20px;
}
.stick {
  color: #000000;
}
